{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Hobby Group</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="create-group-page">
    <div class="form-wrapper">
        <h2>Edit Group</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-field">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>

            <div class="form-field">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="form-field">
                {{ form.banner_url.label_tag }}
                {{ form.banner_url }}
                {{ form.banner_url.errors }}
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>